.container-codelist{
margin: 100px auto 40px;
}

#table-head{
background-color: #000000;
text-align: center;
font-weight: 600;
font-size: 18px;
padding: 10px 5px;
color:#ffffff;
}

#table-content-no,
#table-content-id,
#table-content-email,
#table-content-key,
#table-content-tel,
#table-content-name,
#table-content-action,
#table-content-value,
#table-content-display,
#table-content-dispname,
#table-content-ordernum
{
text-align: center;
font-weight: 600;
padding: 10px 5px;
}

#table-head-phone-content-no,
#table-head-phone-content-id,
#table-head-phone-content-email,
#table-head-phone-content-key,
#table-head-phone-content-name,
#table-head-phone-content-tel,
#table-head-phone-content-action,
#table-head-phone-content-value,
#table-head-phone-content-display,
#table-head-phone-content-dispname,
#table-head-phone-content-ordernum{
background-color: #141e36;
text-align: center;
font-weight: 600;
font-size: 14px;
padding: 10px 5px;
color:#ffffff;
}


#login-button
{
  width:100%;
  margin-top: 10px;
  background-color: #000000;
  color: #ffffff;
}
#button-grid{
text-align: center;
}

#table-content-url{
overflow: auto;
}

.content-search{
text-align: center;
font-family: "Poppins", sans-serif;
font-weight: 600;
}

.wrapper-button{
display:inline-block;
}

#new-button{
box-sizing: border-box;
font-size: 18px;
text-decoration: none;
font-weight: 600;
border: 1px solid black;
cursor: pointer;
}

#search-button{
font-family: "Poppins", sans-serif;
font-weight: 600;
}

.delete-button{
font-size: 18px;
padding: 5px 8px;
text-decoration: none;
color: #000000;
font-weight: 600;
margin-top: 10px;
border: 1px solid black;
}

.textfield{
width:100%;
}

.input-id,
.input-key{
font-size: 18px;
font-weight: 600;
}

.sign-up{
text-align:center;
margin-top: 10px;
padding: 10px 15px;
}

.forgot-password{
font-size: 18px;
text-align: center;
padding: 10px 15px;
}

.content-title {
text-align: center;
font-family: "Poppins", sans-serif;
font-weight: 600;
padding-bottom: 10px;
}

#table-content-url{
overflow: auto;
}

#row-login{
text-align:center;
}

#search-button{
font-family: "Poppins", sans-serif;
font-weight: 600;
}

@media (min-width: 760px){
.container-codelist{
	max-width: 1200px;
}
}

@media (max-width: 540px) {
.container-codelist{
	margin: 10px 0;
}
.content-title{
	padding-bottom: 0px;
}
#search-form {
	padding: 0 20px;
}
}

@media (max-width: 760px){
.container-codelist{
	margin-top: 100px auto 40px;
}
}